.landing_page {
  /* background-image: url("/static/Vlad.png"); */
  /* background-repeat: no-repeat;
  padding-left: 49%;
  padding-right: 49%;
  padding-top: 20%;
  padding-bottom: 20%; */
  width: 100%;
}

.container{
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
    margin-right: 150px ;

}

.form{
    background-color:#5ebdce;
    padding: 20px;
    align-self: center;
    display:flex;
    flex-direction: column;
    position: relative;
    input{
        /* style pt formular */
        color: #000000;
        background-color: #ffffff; /* Background color of the box */
        border: 2px solid #333; /* Border around the box */
        padding: 10px; /* Padding inside the box */
        margin: 2px; /* Margin around the box */
        border-top-left-radius: 20px; ;
        border-top-right-radius: 20px ;
        border-bottom-left-radius: 20px  ;
        border-bottom-right-radius: 20px;
    }

    border-radius: 20px;
    margin-left: 70%;
    margin-top: 10%;
}

.cerc{
    align-items: center;
    border-color: #045e70;
    max-width:250px;
    max-height: 250px;
    padding-bottom: 1px;
    position:relative;
   
}

.titlu_excursie{
    text-align: center;
}

.container_trips_history {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Spațiu între imagini */
  justify-content: center; /* Aliniere la centru */
}


.trip {
  flex-basis: calc(33.33% - 20px); /* 33.33% din lățimea containerului minus spațiul */
  box-sizing: border-box;
  border-style: solid; /* stil de bordură */
  border-color: rgb(15, 137, 131); /* culoare bordură */
  border-width: 10px; /* grosimea bordurii */
  background-color: rgb(187, 243, 240); /* culoarea de fundal */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px; /* Adăugat spațiu interior pentru aspect mai plăcut */
}

.trip img {
  max-width: 100%;
  display: block;
  margin-bottom: 10px; /* Adăugat spațiu între imagine și buton */
}

.trip .remove_button {
  margin-bottom: 10px; /* Adăugat spațiu între buton și titlu */
}

.remove_button, .titlu_excursie, .buton_trip {
  display: block;
  margin: 10px auto; /* Centrare pe orizontală */
}

@media (max-width: 768px) {
  .trip {
    flex-basis: calc(50% - 20px); /* 50% din lățimea containerului pentru ecrane mici */
  }
}

@media (max-width: 480px) {
  .trip {
    flex-basis: 100%; /* 100% din lățimea containerului pentru ecrane foarte mici */
  }
}



.text-styled0 {
    font-family:'Monaco';
    font-size: 32px;
    font-weight: normal; /* Specifică greutatea fontului (ex: bold, normal, etc.) */
    font-style: normal; /* Specifică stilul fontului (ex: italic, normal) */
    color: #fff;
  }

  .text-styled2 {
    font-family:'Monaco';
    font-size: 64px;
    font-weight: normal; /* Specifică greutatea fontului (ex: bold, normal, etc.) */
    font-style: normal; /* Specifică stilul fontului (ex: italic, normal) */
    color: #fff;
   margin-left: 32%;
  }

.text-styled {
    font-family:'Lucida', sans-serif;
    font-size: 16px;
    font-weight: normal; /* Specifică greutatea fontului (ex: bold, normal, etc.) */
    font-style: italic; /* Specifică stilul fontului (ex: italic, normal) */
    color: #fff;
  }
  
  .body2{

    background-image:url("/static/fundal2.png");
    background-size: cover; 
    background-position: center;

  }

  .buton_trip
  {
    background-color:rgb(187, 243, 240) ;
    border-color: rgb(15, 137, 131);
    border-width: 10px;
    margin-left: 47%;
    margin-top: 15px;
  }

  .form2
  {
    background-color: #ffa500;
    padding: 20px;
    align-self: center;
    display:flex;
    flex-direction: column;
    position: relative;
    input{
        /* style pt formular */
        color: #000000;
        background-color: #ffffff; /* Background color of the box */
        border: 2px solid #333; /* Border around the box */
        padding: 10px; /* Padding inside the box */
        margin: 2px; /* Margin around the box */
        border-top-left-radius: 20px; ;
        border-top-right-radius: 20px ;
        border-bottom-left-radius: 20px  ;
        border-bottom-right-radius: 20px;
    }

    border-radius: 20px;
    /*margin-left: 70%;*/
    /*margin-bottom: 35%;*/
    margin-top: 5%;
    margin-left:490px;
    margin-right:490px;

  }

  .text-styled_elements0
  {
    font-family:'Monaco';
    font-size: 47px;
    font-weight: normal; /* Specifică greutatea fontului (ex: bold, normal, etc.) */
    font-style: normal; /* Specifică stilul fontului (ex: italic, normal) */
    color:#fff;
    margin-left: 47%;
    font-weight:bold;
  }

  .text-styled_elements11
  {
    font-family:'Monaco';
    color: #fff;
    font-weight:bold;
    font-size: 20px;

  }


  .text-styled_elements1
  {
    font-family:'Monaco';
    color: #fff;

  }

  /* .form_elements
  {
    background-color: #0F573C;
    padding: 20px;
    align-self: center;
    display:flex;
    flex-direction: column;
    position: relative;
    input{
        /* style pt formular */
        /* color: #000000;
        background-color: #ffffff; /* Background color of the box */
        /*border: 2px solid #333; /* Border around the box */
        /*padding: 10px; /* Padding inside the box */
        /*margin: 2px; /* Margin around the box */
        /* border-top-left-radius: 20px; ;
        border-top-right-radius: 20px ;
        border-bottom-left-radius: 20px  ;
        border-bottom-right-radius: 20px; */ */
    /*}

    border-radius: 20px;
    margin-left: 20%;
    margin-right: 35%;
    /*margin-bottom: 35%;*/
    /* margin-top: 5%;
    margin-left:490px;
    margin-right:490px; */
 /* }