.landing_page {
  /* background-image: url("/static/Vlad.png"); */
  /* background-repeat: no-repeat;
  padding-left: 49%;
  padding-right: 49%;
  padding-top: 20%;
  padding-bottom: 20%; */
  width: 100%;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    input{
        /* style pt formular */
        color: #4bf2da;
    }
}

.cerc{
    align-items: center;
    border-radius: 100%;
    max-width: 200px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.titlu_excursie{
    text-align: center;
}

.container_trips_history{
    display: flex;
    justify-content: space-around;
}
.trip{
    border-style: solid;/* groove;*/
    border-color: rgb(174, 229, 226);
    border-width: 10%;
}

