<!DOCTYPE html>
<html>
<head>
  <link href="../static/styles.css" rel = "stylesheet"/>
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:400,700&display=swap"/> -->
  <style>
    body{
  
      background-image:url("static/pozaprincipala.png");
  
    }
  </style>
</head>
<body>

<div class="landing_page">
  <!--<img src="/static/Vlad.png"/> -->
  <!-- <p>TRAVEL MATE</p> -->
</div>

<div class="container">
  <div class="descriere_formular">
    <!--<h1>Profile</h1> -->
    <!-- <img src="/static/profil.png" /> -->
    <!--<p>descriere pt profil</p> -->

  </div>

  <div class="formular">
    <form action="/trips">
      <h1 class="text-styled0">Profile</h1>
      <p class="text-styled">Doing your luggage for a new vacation seems like an extra stress? 
        Do you always forget important things or do you miss to consider various factors?
        We can help you so that the preparation of the luggage is a pleasant and recreational avtivity! </p>
      <input type="text" id="name" name="Name"/>
      <input type="text" id="age" name="Age"/>
      <input type="text" id="gender"name="gender"/>
      <input type="text" id="name" name="Name" placeholder="Name"/>
      <input type="text" id="age" name="Age" placeholder="Age"/>
      <input type="text" id="gender"name="gender" placeholder="Gender"/>
      <input type="submit" value="Submit"/>
    </form>
  </div>
</div>
</body>
</html>