<!DOCTYPE html>
<html>
<head>
  <link href="../static/styles.css" rel = "stylesheet"/>
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:400,700&display=swap"/> -->
</head>
<body>

<div class="landing_page">
  <img src="/static/Vlad.png"/>
  <!-- <p>TRAVEL MATE</p> -->
</div>

<div class="container">
  <div class="descriere_formular">
    <h1>Profile</h1>
    <p>descriere pt profil</p>
  </div>
  <div class="formular">
    <form action="/trips">
      <input type="text" id="name" name="Name"/>
      <input type="text" id="age" name="Age"/>
      <input type="text" id="gender"name="gender"/>
      <input type="submit" value="Submit"/>
    </form>
  </div>
</div>
</body>
</html>