<!DOCTYPE html>
<html>
<head>

  <link href="../static/styles.css" rel = "stylesheet"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:400,700&display=swap"/>

  <style>
  body{

    background-image:url("/static/palmier.png");

  }
    
</style>
</head>
<body>

<div class="trips">
    <h1 style="font-family: Monaco; font-weight: normal; font-style:normal; color: #000000; text-align: center;">  
        Your Trips
    </h1>
    <div class="holiday">
        <!-- python baza de date -->
        <div class="container_trips_history">

            {%for trip in trips%}
                <!-- {{trip.image}}
                {{trip.id}} -->


                <form action="/delete_trip" method="post" style="display: inline;">
                    <input type="hidden" name="trip_id" value="{{ trip.id }}"/>
                    <input type="submit" value="Remove" class="remove_button"/>
                </form>


                <form action="/elements" method="post">
                    <div class="trip">
                        <img src="{{'../uploads/' + trip.image}}" class="cerc"/>
                        <input type="hidden" name="trip_id" value="{{trip.id}}"/>
                        <input type="submit" value="{{trip.destination}}" class="titlu_excursie"/>
                    </div>
                </form>


            {%endfor%}



            



            <script>
                async function deleteTrip(tripId) {
                    const response = await fetch(`/delete_trip/${tripId}`, {
                        method: 'DELETE'
                    });
        
                    const result = await response.json();
                    if (response.status === 200) {
                        document.getElementById(`trip-${tripId}`).remove();
                    } else {
                        alert(result.message);
                    }
                }
            </script>


        
     
       
    </div>
       <a href="/new_trip">
            <button class="buton_trip">
                New Trip
            </button>
        </a>
</div>

</body>
</html>